* {
    margin: 0;
    box-sizing: border-box
}

.carousel_inner {
    width: 100%;
    overflow: hidden
}

.carousel_inner::after {
    content: "";
    display: block;
    clear: both
}

.carousel_item {
    position: relative;
    float: left;
    display: none;
    width: 100%;
    margin-right: -100%
}

.carousel_item__active,
.carousel_item__pos_next {
    display: block
}

.carousel_item__pos_next {
    left: 100%
}

.carousel_item__next {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out
}

.carousel__fade .carousel_item__pos_next {
    left: 0;
    opacity: 0
}

.carousel__fade .carousel_item__next {
    transform: none;
    opacity: 1;
    transition: opacity 1s ease-in-out
}

.carousel__fade .carousel_item__active.carousel_item__next {
    opacity: 0
}

.carousel_img {
    display: block;
    width: 100%;
    height: 100vh
}

.carousel_img2 {
    display: none;
    width: 100%;
    height: 100vh
}

.carousel_caption {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3rem 2.5rem;
    text-align: center;
    color: #fff;
    z-index: 1
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .carousel_img {
        display: block;
        width: 100%;
        height: 100%
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .carousel_img {
        display: none;
        width: 100%;
        height: 100%
    }

    .carousel_img2 {
        display: block;
        width: 100%;
        height: 100%
    }
}

@media (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
    .carousel_img {
        display: block;
        width: 100%;
        height: 100%
    }

    .carousel_img2 {
        display: none;
        width: 100%;
        height: 100%
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .carousel_img {
        display: none;
        width: 100%;
        height: 100%
    }

    .carousel_img2 {
        display: block;
        width: 100%;
        height: 100%
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .carousel_img {
        display: none;
        width: 100%;
        height: 100%
    }

    .carousel_img2 {
        display: block;
        width: 100%;
        height: 100%
    }
}

@media (min-width: 280px) and (max-width: 320px) {
    .carousel_img {
        display: none;
        width: 100%;
        height: 100%
    }

    .carousel_img2 {
        display: block;
        width: 100%;
        height: 100%
    }
}